.topbar{
    height: 80px;
    background: #ffffff;
    border-radius: 18px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    margin-bottom: 30px;
}

.topbar-left h2{
    font-size: 28px;
    color: #214f39;
    font-weight: 700;
    margin: 0;
}

.topbar-left small{
    display: block;
    margin-top: 6px;
    color: #777;
    font-size: 14px;
}

.topbar-right{
    display: flex;
    align-items: center;
}

.admin-profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg,#2e7d32,#4caf50);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
    font-weight: bold;
}

.admin-profile strong{
    display:block;
    color:#214f39;
    font-size:16px;
}

.admin-profile small{
    color:#777;
}